<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.box.androidsdk.share" >

    <application android:allowBackup="true">
        <activity
            android:name=".activities.BoxCollaborationsActivity"
            android:label="@string/box_sharesdk_shared_with"
            android:theme="@style/ShareTheme" >
        </activity>
        <activity
            android:name=".activities.BoxInviteCollaboratorsActivity"
            android:label="@string/box_sharesdk_invite_collaborators"
            android:theme="@style/ShareTheme" >
        </activity>
        <activity
            android:name=".activities.BoxSharedLinkActivity"
            android:label="@string/box_sharesdk_title_share_link"
            android:theme="@style/ShareTheme" >
        </activity>
        <activity
            android:name=".activities.BoxSharedLinkAccessActivity"
            android:label="@string/box_sharesdk_title_link_access"
            android:theme="@style/ShareTheme" >
        </activity>
        <activity
            android:name=".usx.activities.BoxInviteCollaboratorsActivity"
            android:label="@string/box_sharesdk_invite_collaborators_activity_title"
            android:theme="@style/ShareThemeNew" >
        </activity>
    </application>

</manifest>
